.progress{
  background-color: #0000001c;
}
input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #18516c;
  margin-bottom: 2px;
  padding: 2px;
  border-radius: 0px;
}

input[type=number] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #18516c;
  margin-bottom: 2px;
  padding: 2px;
  border-radius: 0px;
}

input[type=email] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #18516c;
  margin-bottom: 2px;
  padding: 2px;
  border-radius: 0px;
}

input[type=password] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #18516c;
  margin-bottom: 2px;
  padding: 2px;
  border-radius: 0px;
}

@media print {
  html, body {
     display: none;  /* hide whole page */
  }
}

/* .form-control[disabled] {
  background-color: transparent
} */

/* .form-control[readonly] {
  background-color: transparent
} */

.has-error .form-control {
  box-shadow: none;
  color: #fb4744;
  border-color: #fb4744;
}

.has-error span{
  color: #fb4744;
}

.has-error .checkbox{
  color: #fb4744;
}

.has-error {
  color: #fb4744;
  /* filter: saturate(32.5); */
}

.disablediv {
  pointer-events: none;
}

.disablediv input {
  background-color: #eee;
}

.disablediv input[readonly] {
  background-color: #eee;
}

.disablediv .form-control[readonly] {
  background-color: #eee;
}

@media (max-width: 749px) {
  .pull-right-xs {
     float: right;
   }
  .pull-left-xs {
    float: left;
  }
 }
 
  @media (min-width: 750px) {
  .pull-right-sm {
     float: right;
   }
  .pull-left-sm {
    float: left;
  }
 }

 @media (min-width: 970px) {
  .pull-right-md {
     float: right;
   }
   .pull-left-md {
     float: left;
   }
 }

 @media (min-width: 1170px) {
  .pull-right-lg {
     float: right;
   }
   .pull-left-lg {
     float: left;
   }
 }

div.collapsed span.collapsebutton::before{
  font-family: FontAwesome; 
  content: "\f0d7";
   font-weight:900;
}

div span.collapsebutton::before{
  font-family: FontAwesome;
   content: "\f0d8";
   font-weight:900;
}

.paddingcontent{
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.fab-container{
  z-index: 1008;
}

.form-control{
  height: inherit;
}

.smallerCheckbox{
  font-size: smaller;
}

.marginTopBottomField{
  margin-top: 2px;
  margin-bottom: 2px;
}

.labelspanbold{
  font-weight: bold;
}

.labelfontgrey{
  color: #757575;
}

.labelfontwhite{
  color: #fff
}

.labelfontblack{
  color: #000
}

.panel-padding0{
  padding: 0px;
  margin-bottom: 10px;
}

.paddingside{
  padding-left: 10px;
  padding-right: 10px
}
.progress{
  margin-bottom: 0px
}
.tabbable .nav li {
  position: relative;
  vertical-align: middle;
}
fieldset ul li {
  margin-bottom: 3pt;
}
.inp input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px #18516c inset !important;
  -webkit-text-fill-color: #fff;
  -webkit-transition-delay: 9999s;
  -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}

.inp input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px #18516c inset !important;
  -webkit-text-fill-color: #fff;
  -webkit-transition-delay: 9999s;
  -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
  
}

.panel-heading{
  border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.loader {
  position: absolute;
  left: 50%;
  top: -30px;
}

.textlabellogin{
  max-width: 280px;
  width: 100%;
  display: inline-block;
  text-align: left;
}

.react-datepicker__year-read-view--selected-year{
  color: #fff;
  font-weight: bolder;
  font-size: xx-large;
}

.react-datepicker__year-option--selected_year{
  background: #18516c;
  color: #fff;
}


.react-datepicker__year-option{
  padding-bottom: 5px;
  padding-top: 5px
}

.react-datepicker__year-dropdown--scrollable, .react-datepicker__month-dropdown--scrollable, .react-datepicker__month-year-dropdown--scrollable {
  height: 250px;
  overflow-y: scroll;
}

.react-datepicker__portal .react-datepicker__current-month, .react-datepicker__portal .react-datepicker-time__header {
  font-size: 16pt;
  color: #fff;
}

.react-datepicker__portal .react-datepicker__day-name, .react-datepicker__portal .react-datepicker__day, .react-datepicker__portal .react-datepicker__time-name {
    max-width: 400px;
    width: 30px;
    max-height: 500px;
    height: 30px;
}

.react-datepicker__day-name{
  font-weight: 700;
  color: #fff;
}

.react-datepicker {
  font-size: 12pt !important;
  font-family: "Roboto", sans-serif;
  border: 1px solid #18516c;
}

.react-datepicker__header{
  background-color: #18516c;
}

.react-datepicker__month-container {
  float: left;
  width: 300px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.blockallscreen{
  height: 100vh;
}

.loadingtop .block-ui-message-container{
  top:160px;
}

.loadingfixed .block-ui-message-container{
  top: 300px;
  position: fixed;
}

.react-datepicker__time-container {
  min-width: 200px;
}

p{
  word-wrap: break-word;
}

.react-datepicker__time-box{
  min-width: 200px;
  font-size: 12pt;
}

form {
  margin-bottom: 10px;
  margin-top: 10px;
}

.backgroundcolorotosales {
  background-color: rgb(24, 81, 108);
  height: 100%;
}
.label {
  padding: 0em 0em 0em;
}
.inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
}
.inp .label {
  position: absolute;
  top: 22px;
  left: 0;
  font-size: 16px;
  color: #9098a9;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.inp .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #07f;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.inp input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 5px 0;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: #fff;
  transition: all 0.15s ease;
}
.inp input:hover {
  background: rgba(34, 50, 84, 0.03);
}
.inp input:not(:placeholder-shown) + span {
  color: #87b8e2;
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus {
  background: none;
  outline: none;
}
.inp input:focus + span {
  color: #ddd;
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus + span + .border {
  transform: scaleX(1);
}

.inp ::placeholder { /* Firefox, Chrome, Opera */ 
  color: #fff; 
  font-weight: 100
} 

.inp :-ms-input-placeholder { /* Internet Explorer 10-11 */ 
  color: #fff; 
} 

.inp ::-ms-input-placeholder { /* Microsoft Edge */ 
  color: #fff; 
}

.modal-footer {
  border-top: 0px;
}
.separatorTop {
  border-top: 1px solid #ddd;
  margin-top: -1px;
  /* margin-bottom: -10px */
}
.separatorTop p{
  margin-bottom: 2px;
}
.row p{
  margin-bottom: 2px;
}
fieldset p{
  line-height: 15px;
  margin-top: 2px;
}
.separatorBottom {
  border-bottom: 1px solid #ddd;
  margin-bottom: -1px;
  /* margin-bottom: -10px */
}
.backgroundgrey {
  background-color: #eaeaea;
}
.zIndexFront {
  z-index: 2000;
}
.styles_closeIcon__1QwbI {
  fill: #e63232;
}
.nav-tabs {
  overflow-x: auto;
  overflow-y: hidden;
  display: -webkit-box;
  display: -moz-box;
}
.nav-tabs > li {
  float: none;
}
.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  background-color: #18516c;
  border: 1px solid #fff;
  color: #fff;
  min-width: 110px;
  font-weight: 1000;
  text-align: center;
  font-size: 10pt
}

.tab-list-active {
  background-color: white;
  color: #000;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.loader {
  position: absolute;
  left: 50%;
}

/* .css-10nd86i{
  z-index: +10;
} */

.css-vj8t7z {
  height: 5px;
}

.css-2o5izw {
  height: 5px;
}

.panel-body-list {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 1px;
}

.panel-body {
  padding-bottom: 0px;
  padding-top: 5px;
}

.panel {
  margin-bottom: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.main-header{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.small-box{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.box{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.well {
  padding: 5px;
  margin-bottom: 2px;
}

/* .css-vj8t7z{
  z-index: -10;
} */

@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: "Roboto", sans-serif;
}

.squareimg {
  position: relative;
  width: 50%;
}

.squareimg:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.contentimg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center; /* Align the flex-items vertically */
  justify-content: center; /* Optional, to align inner flex-items
                              horizontally within the column  */
}

/* .main-header{
  z-index: 999;
}

.navbar-fixed-bottom{
  z-index: 999;
} */

.container-shadow-box {
  margin-top: 50px;
  box-shadow: 0 0 30px black;
  padding: 0 15px 0 15px;
}

.input-group .form-control {
  z-index: 0;
}

.panel-primary .panel-heading {
  color: #fff;
  background-color: #18516c;
}

.panel-primary {
  border-color: #18516c;
}

.input-group {
  width: 100%;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  width: 100%;
}

@media only screen and (max-width: 700px) {

.table-objekP{
  font-size:80%;
}

.table-objekP {
  width: 100%;
  padding-left: 0.5px;
  overflow-x: auto;
  white-space: nowrap;
}

.table-objekP .row {
  width: 200%;
  display: block;
  float: none;
  border-right: none;
}

#table-objek-quotation {
  font-size: 1.3vw;
}

}

.table-objekP {
  width: 100%;
  padding-left: 0.5px;
  overflow-x: auto;
  white-space: nowrap;
}

.table-objekP .row {
  display: block;
  float: none;
}

.table-objekP .table-objek-right {
  border-right: 1px solid black;
}

.table-objekP .table-objek-left {
  border-left: 1px solid black;
}

.table-objekP .table-objek-pad {
  padding-right: 5px;
  padding-left: 5px;
}

.table-objekP .table-objek-top {
  border-top: 1px solid black;
}
/* flag */
.table-objekP .table-objek-bottom {
  border-bottom: 1px solid black;
}

.table-objekP .table-objek-top-bottom {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.table-objekP .row{
  margin-left: 0px;
  margin-right: 0px;
}

@media screen and (max-width: 600px) {
  pre.order-approval {
    font-size: x-small;
    white-space: pre-wrap;       
    white-space: -moz-pre-wrap;  
    white-space: -pre-wrap;      
    white-space: -o-pre-wrap;    
    word-wrap: break-word;
  }
}
@media screen and (min-width: 601px) {
  pre.order-approval {
    font-size: small;
  }
}

@media screen and (max-width: 450px) {
  #table-objek-quotation {
    font-size: 40%;
    overflow-wrap: break-word;
  }
}

.mask {
  overflow: hidden;
  height: 10px;
}

.mask:after {
  content: "";
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  box-shadow: 0 0 8px rgba(0,0,0,0.40);
}

.demo-editor{
  border: 1px solid #d2d6de;
  padding: 5px;
}

html {
  scroll-behavior: smooth;
}

.sidebar-menu>li.active>a{
  background: #086f99 !important;
  border-left-color: #00adff !important;
}



body{font-family:"Vag Rounded Std";}@font-face{font-family:"VAG Rounded Std";src:url("../assets/VAGRoundedStd-Bold_gdi3.eot")}


/* ===== START OF ERROR CONTAINER STYLE ===== */
.error-container {
  padding: 5%;
  padding-top: 10px;
}
.error-header {
  display: inline;
  margin-bottom: 20px;
}
.error-title{
  /*margin-top: 0px;*/
  font-size: 5vw;
}
.error-title-container {
  max-width: 70%;
}
.error-sub-title {
  font-size: 14px;
}
.error-main-icon {
  /*float: right;*/
  color: #ddd;
  font-size: 22vw;
  max-width: 25%;
}
.error-body {
  font-size: 14px;
  padding-top: 15px;
}
.error-body .error-code {
  margin-top: 5px;
  font-size: 10px;
  word-break: break-word;
}
h3.error-default {
  text-align: center;
}
/* ===== END OF ERROR CONTAINER STYLE ===== */
